<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	     <property name="dialect">org.hibernate.MySQLDialect</property>
	  <property name="show_sql">1</property>
	<property name="hbmdl.auto">create</property>
	<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping class="com.arif.model.Student" />
	</session-factory>
</hibernate-configuration>

